{% autoescape off %}
Subject: Password reset for your TestSite Account

Hello,

You're receiving this email because you requested a password reset for your TestSite Account.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link is valid for {{ timeout }} hours.

If you didn't request a password reset, or if you have any other questions, please let us know.

Sincerely,
The TestSite Team
{% endautoescape %}

